#Discord Bot Token

TOKEN=

# Configure the PostgreSQL connection settings.
# Database Provider You Can Use 

# 1.https://neon.tech/
# 2.https://cockroachlabs.cloud/clusters
# 3.https://console.cloud.timescale.com/dashboard/services

# For non-SSL connections, simply remove the "?sslmode=verify-full" parameter.
# Please Remove The Database Postgresql String Use Your Own Database

POSTGRES_CONNECTION_STRING=postgresql://nigga_boyyes:Vnf6hJWqPjfA67kbfYagsg@fossil-gnu-4962.8nk.cockroachlabs.cloud:26257/defaultdb

#Custumer Role Name And ID

CUSTUMER_ROLE_NAME=Buyer
CUSTUMER_ROLE_ID=1152860911703433237

#Server ID
GUILD_ID=1149546712751423549

#Publish Log Chanell
PUBLISH_LOG=1152860872692207657

#Game Pass or Shirt ID

GAMEPASS_ID=63690008
GAMEPASS_LINK=https://www.roblox.com/catalog/151786902/

#All Visit Webhook

ALL_VISIT_WEBHOOK=
